<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cinema-Filme</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <nav>
      {% for n in listaNav %}
      <div class="background link-container">
        <a class="nav-entry" {{n}} </a>
      </div>
      {% endfor %}
  </nav>
  <body>
    <h1>Film:{{title}}</h1>
    <p>Year: {{year}}</p>
    <h3>Cast:</h3>
    <ul class="columas">
      {% for n in atores %}
      <li>{{n}}</li>
      {% endfor %}
    </ul>
    <h3>Genres:</h3>
    <ul>
      {% for n in generos %}
      <li>{{n}}</li>
      {% endfor %}
    </ul>
  </body>
</html>
