extends layout

block contentForm
    script. 
        var closeForm = function() {
            document.querySelector("div.form-popup").style("display", "block");
        }
    
    button(class="primary" onClick= 'closeForm()') Add
    
    div.form-popup
        form(name="addMusic" id="myForm" ,action="http://localhost:3002/musicas/newMusic" ,method="post")
            div(class="row").input
                span.label Título
                    input(class="col-sm" type="text" name="tit")
                span.label Província
                    input(class="col-sm" type="text" name="prov")
                span.label Local
                    input(class="col-sm" type="text" name="local")
                span.label File
                    input(class="col-sm" type="text" name="file")
                span.label Duração
                    input(class="col-sm" type="text" name="duracao")

            div.actions
                input(class="button tertiary" type="submit" value="add")

            button(class="secondary" onClick= "closeForm()") Close
