doctype html
html
  head
    title= Músicas
    link(rel='stylesheet', href='/stylesheets/style.css')
  nav 
    h2 Músicas por
    h3
      a(href="musicas")= "ID"
    h3
      a(href="prov")= "Provincia"
    
  body
    block content
