extends layout

block content
  h1 Provincia: #{prov}
  table 
    tr 
        th Identificador
        th Título
        th Local
    each a in provincia
        tr
            td
             a(href="/musicas/"+a.id)= a.id 
            td= a.tit
            td= a.local