extends layout

block content
  div(class="container card blue")
    h2 Código #{info.codigo}

    dl
      dt Título
      dd= info.titulo
      dt Estado 
      dd= info.status
  
  block descendentes
