doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  nav
    h1 CLAV - Classificação e Avaliação da Informação Pública
    h3 Catálogo dos Processos da Administração Pública Portuguesa
  nav 
    button  
      a(href='/') Home
    if parente!=''
      button  
        a(href='/' + parente.codigo)= parente.codigo
  body
    block content
